<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Log in</title>

</head>
<body>
<div>
  <div>
    <div >
      <p>Sign in to start your session</p>

      <form action="./login" method="POST">
        <div>
            <input type="text" name="email" placeholder="E-mail">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <button type="submit">Log In</button>
        </div>
    </form>

      <div>
        <a href="#">
          <i></i> Sign in using Facebook
        </a>
      </div>
      <div>
        <a href="#">
          <i></i> Sign in using Google+
        </a>
      </div>
      <p>
        <a href="/register">Register a new membership</a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
