<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registration Page</title>

</head>
<body>
<div>
  <div>
    
    <div>
      <p>Register a new membership</p>

       <form action="./register" method="POST">
        <div>
            <input type="text" name="email" placeholder="E-mail">
        </div>
        <div>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div>
            <input type="text" name="gender" placeholder="Gender">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <input type="password" name="password2" placeholder="Confirm Password">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>

      <div>
        <a href="#">
          Sign up using Facebook
        </a>
      </div>
      <div>
        <a href="#">
          Sign up using Google+
        </a>
      </div>

      <a href="/login">I already have a membership</a>
    </div>
  </div>
</div>
</body>
</html>
